<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/Anime.css' %}">
    <script scr= "{%static 'js/main.js'%}" defer></script>
</head>
<body>
    <h1>About</h1>
    <p>This is a brief description of the website or application. You can provide information about its purpose, features, and target audience here. Consider adding a brief company history or mission statement if applicable.</p>

    <p>For more details or to explore other sections, please visit the following links:</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/account">account</a></li>
    
    </ul>

    <p>If you have any questions or require further assistance, please don't hesitate to reach out to us.</p>
</body>
</html>